body {
  font-family: sans-serif;
  margin: 2rem;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(46,9,121,1) 45%, rgba(0,212,255,1) 100%);
  /* background: #FDE49E; */
   /* Set minimum height for centering */
}

.file-upload {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.file-upload label {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-upload label{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:8px;
  border-bottom-right-radius: 20px;
  
}
button[type="submit"]{
  padding:0px;
  margin:0px;
  background: rgb(38,41,55);
  background: radial-gradient(circle, rgba(38,41,55,1) 61%, rgba(98,48,89,1) 100%);
  color: white;
  width: 140px;
  height: 70px;
  margin: 20px;
  border: solid black;
  border-radius:5px;
  border-bottom-right-radius: 20px;
}

button[type="submit"]:hover {
  margin: 20px;
  background: rgb(60,64,88);
  background: radial-gradient(circle, rgba(60,64,88,1) 61%, rgba(74,30,66,1) 100%);
  color: white;
  border: none;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 70px;
  border: solid black;  
}
  
.file-upload>#Browes{
  margin: 20px;
  padding: 5px;
}

/* form > button{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.nav{
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(46,9,121,1) 45%, rgba(0,212,255,1) 100%);
  /* background: #cda71e; */
  border-radius: 5px;
}
form{
  color: white;
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(46,9,121,1) 45%, rgba(0,212,255,1) 100%);
  /* background: #8b8208; */
  border: radius 5px;
}
.allwork{
  border: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  

}
  